/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(220, 220, 220, .3);
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: #FFD300;
    width: 100%;
    padding: 32px;
    text-align: center;
}

/* MENU */

.menu a {
    color: #111;
    padding: 5px;  
    font-size: 18px; 
    text-decoration: none;
    position: relative;

}

.menu a + a{
    margin-left: 32px;
}

.menu a.active{
    font-weight: 600;
    color:rgba(17, 17, 17, .9);
}

.menu a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: rgba(17, 17, 17, .9);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.menu a:hover::after{
    width: 100%;
    transition: width 300ms ease-in-out;
}

/* CARD */

.card{
    background-color: rgba(255, 255, 255, .1);
    width: 800px;
    height: 500px;

    /* Espaçamento ao centro */
    margin: 45px auto;

    /* Grid dividido ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Sombra + borda arredondada */
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .5);
    border-radius: 15px;

    /* Animação */
    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
}

.section-image{
    background: url(https://source.unsplash.com/collection/10552289/500x500) no-repeat;   
    border-radius: 15px;
}


@keyframes up{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}





