{% extends 'layout.njk' %}

    {% block content %}

      <div class="card">
         <section class="section-image avatar"></section>

         <section class="details"></section>
      </div>

    {% endblock %}